body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

hr{
border: dotted;
border-bottom: none;
width: 5%;
margin: 70px auto;
}

p{
  line-height: 2;
}
h1{
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 1.5em;
}
h2,h3{
  color: powderblue;

}
a{
  text-decoration: none;
   margin: 15px;
   font-weight: 500;
   font-size: 1.5em;
}

.top-container{
  position: relative;
  background-color: powderblue;
  padding-top: 100px
}
.midlle-container{

}
.skill-row{
width: 50%;
margin:100px  auto;
}
.skill-img{
  float: left;
  margin-right: 30px;
}
.web-img{
  float: right;
  margin-left: 30px;
}
.profile-pic{
  border-radius: 50%;
  height: 150px;
}
.topimg{
  margin: 80px auto 100px auto;
  position: relative;
  border-radius: 50%;

}
.bottomimg{
  position: absolute;
  left: 250px;
  top:150px;
  border-radius: 50%;
}
.middleimg{
  position: absolute;
  right: 250px;
  top:150px;
  border-radius: 50%;
}
.bottom-container{
  background-color: powderblue;
  padding: 40px;
}
.title{
  font-size: 1.7em;
}










/* For Desktop View */
@media screen and (min-width: 1024px) {

}

/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .top-container{
    position: relative;
    display: block;
    width: 100%;
  }

}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  .top-container{
    position: relative;
    display: block;
    width: 100%;
  }
  .skill{
    display: block;
  }
  .bottomimg{
    display: none;
  }
  .middleimg{
    display: none;
  }
  .skill-row{
  width: 100%;
  display: block;
  }
  .skill-img{
display: block;
    margin: 20px 100px 10px auto;

  }
  .web-img{
    display: block;
      margin: 20px 100px 10px auto;
  }
  h2,h3{
    font-size: 2em;
  }
  .skill-depscription{
    font-size: 29px;
  }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {
  .top-container{
    position: relative;
    display: block;
    width: 100%;
  }
  .bottomimg,   .middleimg{

    display: none;
  }
  h1{
    font-size: 2em;
  }
  .skill{
    display: block;
  }
  .title{
    font-size: 1.8em;
  }
  .skill-row{
  width: 100%;
  display: block;
  }
  .skill-img{
    margin: 20px 100px 10px auto;
    display: block;

  }
  .web-img{
    margin: 20px 100px 10px auto;
    display: block;
  }
  h2,h3{
    font-size: 2em;
  }
  .skill-depscription{
    font-size: 29px;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .top-container{
    position: relative;
    display: block;
    width: 100%;
  }
  .bottomimg,   .middleimg{
    display: none;
  }
  h1{
    font-size: 2em;
  }
  .title{
    font-size: 1.8em;
  }
  .skill{
    display: block;
  }
  .skill-row{
  width: 100%;
    display: block;
      position: relative;
  }
  .skill-img{
  display: block;
    margin: 20px 100px 10px auto;
  }
  .web-img{
  display: block;
    margin: 20px 100px 10px auto;
 }
  h2,h3{
    font-size: 2em;
  }
  .skill-depscription{
    font-size: 29px;
  }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  .top-container{
    position: relative;
    display: block;
    width: 100%;
  }
  .bottomimg,   .middleimg{
    display: none;
  }
  .skill{
    display: block;
  }
  .title{
    font-size: 1.8em;
  }
  .skill-row{
  width: 100%;
  display: block
    position: relative;
  }
  .skill-img{
    display: block;
      margin: 20px 100px 10px auto;

  }
  .web-img{
    display: block;
      margin: 20px 100px 10px auto;
  }
  h1{
    font-size: 2em;
  }
  h2,h3{
    font-size: 2em;
  }
  .skill-depscription{
    font-size: 29px;
  }
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  .top-container{
    position: relative;
    display: block;
    width: 100%;
  }
  .skill{
    display: block;
  }
  .bottomimg,   .middleimg{
      display: none;
    }
    .title{
      font-size: 1.8em;
    }
    .skill-row{
    width: 100%;
    display: block;
      position: relative;
    }
    .skill-img{
    display: block;
      margin: 20px 100px 10px auto;

    }
    .web-img{
      display: block;
        margin: 20px 100px 10px auto;
    }
    h1{
      font-size: 2em;
    }
    h2,h3{
      font-size: 2em;
    }
    .skill-depscription{
      font-size: 29px;
    }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 3) {
  .top-container{
    position: relative;
    display: block;
    width: 100%;
  }
  .bottomimg{
    display: none;
  }
  .skill{
    display: block;
  }
  .title{
    font-size: 1.8em;
  }
  .skill-row{
  width: 100%;
  display: block;
  position: relative;
  }
  .skill-img{
  display: block;
    margin: 20px 100px 10px auto;

  }
  .web-img{
    display: block;
      margin: 20px 100px 10px auto;
  }
  h1{
    font-size: 2em;
  }
  h2,h3{
    font-size: 2em;
  }
  .skill-depscription{
    font-size: 29px;
  }
}
